.borderSec
    border-bottom: 1px solid gray
@media (max-width: 426px)
    .productResp
        flex-direction: column
    .productDetail
        flex-direction: column-reverse
    .prdct
        flex-direction: row
        padding: 0
    .prdcts
        width: 20%
    .imgPrdct
        width: 100vw
        padding: 0
    .prdctSec
        padding: 1rem
        width: 100%
